@import "tailwindcss";

/* Garet Regular */
@font-face {
    font-family: "Garet";
    src: url("/fonts/Garet-Book.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Garet Bold */
@font-face {
    font-family: "Garet";
    src: url("/fonts/Garet-Heavy.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-sans: "Garet", sans-serif;
}

body {
    font-family: "Garet", sans-serif;
}